<div id="container">
  <h1>Awesome Secret Recipe</h1>
  <br>
  <form id="secret_recipe" method="post" action="/login">
    <input type="submit" value="Take a look!">
    <br>
  </form>
  <br>
  <p>
    <a href="/login">login </a>
    or
    <%= erb :create_account_link %>
  <p>
</div>
