<div class="sub-container">

  <form id="login_table" action="/login" method="get">
    Login to see the secret recipe of the day! Yay!
    <label for="email"> Email: </label>
    <input id="email" type="text" name="user_email">
  </form>

</div>
