<div class="sub-container">

  <form id="new_account" action="/new_account" method="post">
    <br><br>
    Give us all your information so you can see the friggin recipe!
    <br><br>
    <label for="first_name"> First name:
      <input id="first_name" type="text" name="user_first_name">
    </label>
    <br><br>
    <label for="last_name"> Last name:
      <input id="last_name" type="text" name="user_last_name">
    </label>
    <br><br>
    <label for="email"> Email:
      <input id="create_email" type="text" name="new_email">
   </label>
   <br><br>
    <label for="password"> Password:
      <input id="create_password" type="text" name="new_password">
    </label>
    <br><br>
      <input type="submit" value="Say goodbye to your privacy!">
  </form>

</div>
