<div class="sub-container">
  <h3> Delicious Coder </h3>
    <h4> Ingredients </h4>
     <ul> 
       <li> One green apprentice </li>
       <li> Pain </li>
       <li> DBC </li>
       <li> Lots of empathy </li>
     </ul>
    <br><br>
    <h4> Method </h4>
    <p>
      Roast apprentice slowly in DBC.  When pain reaches maximum threshold,
      baste with empathy. Stick fork into apprentice. If fork comes out clean, 
      serve warm with a job offer garnished with chopped parsley.
    </p>
    


  

</div>
